@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>Error handling patterns</h2>
        <h3>Ajax call</h3>
        Press this <button id="ajaxButton1" class="btn btn-dark">button</button> to make ajax call that succeeds.
        Press this <button id="ajaxButton2" class="btn btn-danger">button</button> to make ajax call that fails.
        <div id="ajaxCallResult"></div>
        <hr />
        <h3>Href click</h3>
        Press this <a asp-action="HrefOk" class="btn btn-dark">button</a> to make href call that succeeds.
        Press this <a asp-action="HrefError" class="btn btn-danger">button</a> to make href call that fails.
        Press this <a asp-action="HrefErrorMany" class="btn btn-danger">button</a> to make href call that fails with several errors.
    </div>
</div>

@section Scripts
{
<script>

    let ajaxButton1 = document.getElementById("ajaxButton1");
    let ajaxButton2 = document.getElementById("ajaxButton2");
    let ajaxCallResultEl = document.getElementById("ajaxCallResult");

    let ajaxCall = (shouldFail) => {
        fetch('/Home/AjaxCall?shouldFail=' + shouldFail).then(response => {
            if (!response.ok) {
                console.error(response);
                response.json().then(function(data) {
                    ajaxCallResultEl.innerText = data.message;
                    toastr.error(data.message);
                });
                return;
            }

            response.json().then(function(data) {
                ajaxCallResultEl.innerText = data.message;
                toastr.success(data.message);
            });

        }).catch(error => {
            ajaxCallResultEl.innerText = "Something really bad happened. Error: " + error;
        });

    }

    ajaxButton1.addEventListener('click',
        e => {
            ajaxCall(false);
        });

    ajaxButton2.addEventListener('click',
        e => {
            ajaxCall(true);
        });

</script>
}
