@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="row">
    <div class="col">
        <h2>User data</h2>
        Some user data here...
        <a class="btn btn-outline-primary" asp-page-handler="AddUser" >Add User</a>
    </div>
</div>

<div class="row">
    <div class="col">
        <table class="table table-condensed table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var user in Model.Users)
                {
                    <tr><td>@user.Id</td><td>@user.Name</td></tr>
                }
            </tbody>
        </table>
    </div>
</div>
