@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>TypeScript DI</h2>
    </div>
    <div id="output"></div>
</div>

<script type="module">
    import { MyClass } from "~/ts/MyClass.js";

</script>