@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col">
        <h2>Call Win Api protected with Windows Authentication, impersonated.</h2>
        <a asp-action="CallWebApi" class="btn btn-dark">Call Web Api</a>
    </div>
</div>