@{
    ViewData["Title"] = "Home Page";
}

<style>
    [v-cloak] {
        display: none;
    }
</style>


<div id="app">
    {{ message }}
</div>

    <script type="module">
        import { VueIndex } from "/ts/VueIndex.js"

        let vueIndex= new VueIndex();
    </script>
