@{
    ViewData["Title"] = "Home Page";
}

<style>
    [v-cloak] {
        display: none;
    }
</style>


<div id="app">
	{{ message }}
    
	<div class="row">
		<div class="col">
			<button v-on:click="postData(1)">post data 1</button>
			<button v-on:click="postData(2)">post data 2</button>
		</div>
	</div>
    

</div>

    <script type="module">
        import { VueIndex } from "/ts/VueIndex.js"

        let vueIndex= new VueIndex();
    </script>
